<p style="color: green"><%= notice %></p>

<%= render @sub_season %>

<div>
  <%= link_to "Edit this sub season", edit_sub_season_path(@sub_season) %> |
  <%= link_to "Back to sub seasons", sub_seasons_path %>

  <%= button_to "Destroy this sub season", @sub_season, method: :delete %>
</div>
